* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
}

.vertical-padding-50px {
	padding: 50px 0;
}

.padding-top-50px {
	padding-top: 50px;
}

.row {
	display: flex;
}

.col {
	width: calc(100% / 3);
}

.text-small {
	font-size: 13px;
}

.text-normal {
	font-size: 16px;
}

.text-medium {
	font-size: 20px;
}

.bold {
	font-weight: 600;
}

/* Header */

header {
	background-color: #FF6900;
	color: #FFFFFF;
	text-align: center;
	height: 40px;
}

header .row, header .col {
	height: 100%;
}

header .col {
	display: flex;
	align-items: center;
}

header ul, footer ul {
	list-style: none;
	display: flex;
	font-size: 13px;
}

nav ul li, footer ul li {
	margin-right: 1em;
}

nav a, footer a {
	color: #FFFFFF;
	text-decoration: none;
}

.logo {
	justify-content: center;
}

.logo img {
	height: 1em;
}

.icons {
	justify-content: flex-end;
}

.icons ul li {
	margin-left: 1em;
}

/* Main */

main .col {
	margin: 0 10px;
}

main .col:first-child {
	margin-left: 0;
}

main .col:last-child {
	margin-right: 0;
}

main .col {
	position: relative;
}

.card-img {
	position: relative;
}
.card-img img {
	width: 100%;
}

.img-1 {
	display: block;
}

.img-2 {
	display: none;
}

.card-img:hover .img-1 {
	display: none;
}

.card-img:hover .img-2 {
	display: block;
}

.heart {
	font-size: 25px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	position: absolute;
	right: 0;
	top: 10px;
	cursor: pointer;
}

.heart:hover {
	color: #FF0000;
}

.tags {
	position: absolute;
	left: 0;
	bottom: 50px;
	font-size: 13px;
	color: #FFFFFF;
}

.tags span {
	padding: 5px 10px;
	font-weight: 600;
}

.discount {
	background-color: #FF0000;
}

.bio {
	background-color: #008000;
}

.price {
	font-weight: 600;
	color: #FF0000;
}

.line-trough{
	font-weight: 400;
	text-decoration: line-through;
	color: #000000;
}

/* Footer */

footer {
	background-color: #1A1A1A;
	color: #FFFFFF;
	line-height: 1.5;
}

footer .row {
	justify-content: space-between;
}

footer .row > * {
	padding: 20px 0;
}

footer .col {
	width: auto;
}

.social {
	text-align: center;
}

footer ul li{
	margin-right: 10px;
}

footer ul li:last-child{
	margin-right: 0;
}