* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
}

.vertical-padding-50px {
	padding: 50px 0;
}

.row {
	display: flex;
}

.row > * {
	border: 1px dashed black;
}

.col {
	width: calc(100% / 3);
}

.bold {
	font-weight: 600;
}
/* Header */

header {
	background-color: #FF6900;
	color: #FFFFFF;
	text-align: center;
	height: 40px;
}

header .row, header .col {
	height: 100%;
}

header .col {
	display: flex;
	align-items: center;
}

header ul {
	list-style: none;
	display: flex;
	font-size: 13px;
}

nav ul li {
	margin-right: 1em;
}

.logo {
	justify-content: center;
}

.logo img{
	height: 1em;
}

.icons {
	justify-content: flex-end;
}

.icons ul li {
	margin-left: 1em;
}

/* Main */

main .col {
	margin: 0 10px;
}

main .col:first-child {
	margin-left: 0;
}

main .col:last-child {
	margin-right: 0;
}

main .col {
	position: relative;
}

.img img {
	width: 100%;
}

.heart {
	font-size: 25px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	position: absolute;
	right: 0;
	top: 10px;
}

.tags {
	position: absolute;
	left: 0;
	bottom: 50px;
	font-size: 13px;
	color: #FFFFFF;
}

.tags span {
	padding: 5px 10px;
	font-weight: 600;
}

.discount {
	background-color: #FF0000;
}

.bio {
	background-color: #008000;
}

/* Footer */

footer {
	background-color: black;
	color: white;
}

footer .row {
	justify-content: space-between;
}

footer .row > * {
	padding: 10px 0;
}